In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./attention_detection_dataset_v1.csv')
# https://data.mendeley.com/datasets/smzggbnkd2
df

,no_of_face,face_x,face_y,face_w,face_h,face_con,no_of_hand,pose,pose_x,pose_y,phone,phone_x,phone_y,phone_w,phone_h,phone_con,label
0,1,256.643658,144.163663,169.071331,169.066601,88.813317,0,down,-11.569698,-1.612015,0,0,0,0,0,0.00000,1
1,1,252.967014,137.871659,163.131542,163.126974,86.704057,0,down,-15.000000,10.000000,0,0,0,0,0,0.00000,1
2,1,254.416771,134.427950,155.147362,155.145836,88.408792,0,down,-12.705953,0.082978,0,0,0,0,0,0.00000,1
3,2,256.315517,246.199763,141.227055,141.227217,89.279491,2,right,32.585681,36.572800,1,117,137,276,421,0.86614,1
4,1,293.000126,285.859563,197.011509,196.998653,80.872309,2,forward,-4.013085,-9.905692,0,0,0,0,0,0.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,1,271.275997,245.705883,183.263645,183.258476,90.905857,2,forward,-6.682555,-0.063204,0,0,0,0,0,0.00000,0
3996,1,145.687513,176.579046,123.688402,123.688745,87.351382,0,forward,0.174609,12.691899,0,0,0,0,0,0.00000,0
3997,1,142.701006,264.146090,131.865740,131.866093,77.186871,0,forward,6.170160,14.043204,0,0,0,0,0,0.00000,1
3998,1,208.827534,181.304083,162.526874,162.526646,94.798380,0,forward,-5.357382,-0.025190,0,0,0,0,0,0.00000,0
3999,1,142.144842,177.090197,128.746252,128.746605,87.585974,0,forward,-4.028132,14.648935,0,0,0,0,0,0.00000,1

In [ ]:
# no_of_face: Indicates the number of faces detected in a frame.
# face_x: Represents the x-coordinate of the upper-left corner of a detected face.
# face_y: Denotes the y-coordinate of the upper-left corner of a detected face.
# face_w: Reflects the width of a detected face in pixels.
# face_h: Specifies the height of a detected face in pixels.
# face_con: Provides the confidence score for face detection.
# no_of_hands: Indicates the number of hands detected in a frame.
# pose: Describes the orientation of a detected face (Forward, Left, Right, Down).
# pose_x: Represents the x-axis rotation of the detected face's orientation.
# pose_y: Represents the y-axis rotation of the detected face's orientation.
# phone: Indicates the presence of a mobile phone (0: No phone detected, 1: Phone detected).
# phone_x: Specifies the x-coordinate of the upper-left corner of a detected phone.
# phone_y: Denotes the y-coordinate of the upper-left corner of a detected phone.
# phone_w: Reflects the width of a detected phone in pixels.
# phone_h: Specifies the height of a detected phone in pixels.
# phone_con: Provides the confidence score for phone detection.
# label: Serves as the target column, indicating whether the subject is attentive (0) or inattentive (1).

In [4]:
df.describe()

,no_of_face,face_x,face_y,face_w,face_h,face_con,no_of_hand,pose_x,pose_y,phone,phone_x,phone_y,phone_w,phone_h,phone_con,label
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,0.989250,254.650089,255.557294,159.423565,159.420030,86.801790,0.678250,-0.076302,2.154403,0.15150,27.357250,44.078750,47.441250,67.596000,0.119662,0.421500
std,0.156973,52.049840,59.459216,43.990525,43.986279,14.372761,0.840181,7.679380,8.841681,0.35858,75.370945,110.748284,118.642115,161.429693,0.285111,0.493861
min,0.000000,0.000000,-29.021616,0.000000,0.000000,0.000000,0.000000,-19.986642,-38.629232,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,240.010495,227.332100,137.482705,137.480628,85.418913,0.000000,-3.682301,-3.935287,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,259.251165,270.518521,153.349991,153.349843,90.510479,0.000000,1.110766,3.615890,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,279.900060,291.378399,184.414086,184.404820,94.245134,1.000000,4.572721,9.087400,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,2.000000,436.379127,434.430494,486.327209,486.349926,98.248923,2.000000,32.585681,36.572800,1.00000,500.000000,447.000000,640.000000,480.000000,0.931619,1.000000

In [6]:
df.shape

(4000, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   no_of_face  4000 non-null   int64
 1   face_x      4000 non-null   float64
 2   face_y      4000 non-null   float64
 3   face_w      4000 non-null   float64
 4   face_h      4000 non-null   float64
 5   face_con    4000 non-null   float64
 6   no_of_hand  4000 non-null   int64
 7   pose        4000 non-null   object
 8   pose_x      4000 non-null   float64
 9   pose_y      4000 non-null   float64
 10  phone       4000 non-null   int64
 11  phone_x     4000 non-null   int64
 12  phone_y     4000 non-null   int64
 13  phone_w     4000 non-null   int64
 14  phone_h     4000 non-null   int64
 15  phone_con   4000 non-null   float64
 16  label       4000 non-null   int64
dtypes: float64(8), int64(8), object(1)
memory usage: 531.4+ KB